<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Post</title>
  <div th:replace="Partials :: header"></div>
</head>
<body>
<div th:replace="Partials :: navbar"></div>

<h1>Create a new Post!</h1>

<div class="container">
  <form action="/posts/create" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" type="text" name="title"/>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" id="body" name="body"></textarea>
    </div>
    <button class="button">Submit</button>
  </form>
</div>


<div th:replace="Partials :: scripts"></div>

</body>
</html>