<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/header :: head('Spring Blog | Create New Post')"></head>

<body>

<form th:action="@{|/posts/edit/${id}|}" th:method="post" th:object="${postToEdit}">

    <input type="text" th:field="*{title}" th:placeholder="title">
    <input type="text" th:field="*{body}" th:placeholder="body">
    <button class="btn btn-success">Submit</button>

</form>

<h1>Delete Post</h1>

<form th:action="@{|/posts/delete/${id}|}" th:method="post">
    <button type="submit">Delete</button>
</form>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>