<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's Forecast</title>
</head>
<body>
<nav th:replace="partials :: navbar">
</nav>
<h1>Today's Weather is as follows.</h1>
<!--    <ul>-->
<!--        <li th:text="${weatherStats[1]}">Hot</li>-->
<!--        <li>Humid</li>-->
<!--        <li th:text="${temp}" ></li>-->
<!--    </ul>-->
<ul>
    <th:block th:each="stat : ${weatherStats}">
        <li th:text="${stat}" ></li>
    </th:block>
</ul>
<div th:replace="partials :: footer">
</div>
</body>
</html>